<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>楓鈴の都 簡介</title>
    </head>
    <body >
        <table>
            <tr>
                <td class="maplelive">   
                    <span>
                        <a href="{{url_for('home')}}" class="home1">楓鈴の都</a>
                    </span>
                    <span>
                        <a href="{{url_for('home')}}">首頁</a>
                        <a href="{{url_for('itd')}}" class="itd">簡介</a>
                        <a href="{{url_for('mc')}}">server</a> 
                    </span>
                </td>
            </tr>
        </table>
    </body>
</html>