<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>楓鈴の都 MCserver</title>
<link rel="stylesheet" href="{{url_for('static',filename='mc.css')}}">
    </head>
    <body class="background-image">
        <table class="tableRoot">
            <tr>
                <td class="title1">   
                    <span class="headerTitle ">
                        <a href="{{url_for('home')}}" class="home1">楓鈴の都</a>
                    </span>
                    <span>
                        <a href="{{url_for('home')}}">首頁</a>
                        <a href="{{url_for('itd')}}" class="itd">簡介</a>
                        <a href="{{url_for('mc')}}">server</a> 
                    </span>
                    
                </td>
            </tr>
        </table>
        <table border="1" class="server">
            <! server>
            <h1 class="mcserver">Minecraft server</h1>
            <h1 class="mcserver1">Jvav server 資訊</h1>
        </table>
        <table class="title2">
            <tr>
                <td>伺服器名</td>
                <td>{{mc3}}</td>
            </tr>
            <tr>
                <td>伺服器ip</td>
                <td>{{mc2}}</td>
            </tr>
            <tr>
                <td>伺服器埠號</td>
                <td>{{mc7}}</td>
            </tr>
            <tr>
                <td>伺服器狀態</td>
                <td>{{mc1}}</td>
            </tr>
            <tr>
                <td>伺服器延遲</td>
                <td>{{mc5}}</td>
            </tr>
            <tr>
                <td>玩家上線</td>
                <td>{{mc6}}</td>
            </tr>
            <tr>
                <td>伺服器版本</td>
                <td>{{mc4}}</td>
            </tr>
        </table>
        <table border="1" class="server">
            <! server>
            <h1 class="mcserver1">Bedrock server 資訊</h1>
        </table>
        <table class="title2">
            <tr>
                <td>伺服器名</td>
                <td>{{mc14}}</td>
            </tr>
            <tr>
                <td>伺服器ip</td>
                <td>{{mc11}}</td>
            </tr>
            <tr>
                <td>伺服器埠號</td>
                <td>{{mc12}}</td>
            </tr>
            <tr>
                <td>伺服器延遲</td>
                <td>{{mc15}}</td>
            </tr>
            <tr>
                <td>玩家上線</td>
                <td>{{mc13}}/{{mc16}}</td>
            </tr>
            <tr>
                <td>伺服器版本</td>
                <td>Bedrock 1.19.51.01.</td>
            </tr>
        </table>
    </body>
</html>