body {
  font-family: 'Roboto', arial, helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: medium;
}

.background-image {
  background-image: url('/static/1.png');
  background-size: cover;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

td {
  background-color: #ca1eb300;
  padding-bottom: 0.32em;
}

.home1 {
  color: #0088ff;
  text-decoration: none;
  max-width: 160px;
  font-size: 50px;
}


b {
  color: #ee0f69;
  text-decoration: none;
  max-width: 20px;
  font-size: 20px;
}

span {
  
  color: rgb(113, 16, 105);
  left: 100px;
  max-width: 200;
  right: 10px;
  bottom: 10px;


}

.content {
  color: initial;
  left: 500px;
  max-width: 10px;
  font-size: 30px;
}
p {
  font-size: 30px;
  font-style: normal;
  color: #00ff33;
  background-color: rgba(180, 13, 210, 0.413);
}